<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../stylesheets/feed.css">
    <!-- <link rel="stylesheet" href="./stylesheets/style.css"> -->
    <link rel="stylesheet" href="./stylesheets/popup.css">
</head>
<body>
    <nav>
     <div class="logo">
       <h5>Gallery</h5>
         
     </div>
     <ul class="navLink">
       <li><a href="#">About</a></li>
       <li><a href="#">Contact</a></li>
       <li><a href="#">Projects</a></li>
     </ul>
     <div class="lines">
         <div class="l1"></div>
         <div class="l2"></div>
         <div class="l3"></div>
     </div>
     
     <% if (path === `/feed/${uname}`) { %>
       <span class="signin">
         <a href="/profile/<%= uname%>">profile</a>
       </span>

     <% } else{ %>
       <span class="signin">
         <a href="/signin">sign-in</a>
         /
         <a href="/login">login</a>
       </span>

       <% } %>

     
    
   </nav>

<header>
 <h1>Pinterest Image Gallery</h1>
</header> 

 
<div class="container">   

  <% posts.forEach(function(post){ %>
    <div class="box">
        <img src="/images/uploads/<%= post.image %>" alt="<%= post.title %>" class="src">
        <div class="caption" style="display: flex;">
            <% const username = post.user.username %>
           
            <div class="caption" style="margin-right: 5px;"><a style="text-decoration: none; color: aquamarine;" href="/usersprofile/<%= username %>" >@<%= username %> </a></div>
            <div class="caption" style="text-align: center;"><%= post.imageText %>  </div>
        </div>
       
    </div>

  <% }) %>

</div>
   
   
   <script src="https://code.jquery.com/jquery-3.3.1.js"></script>
   <script>
   const navSlide = () => {
    const lines = document.querySelector('.lines');
    const nav = document.querySelector('.navLink');
    
    lines.addEventListener('click',() => {
        nav.classList.toggle('nav-active');
        
    //Line Animation
    lines.classList.toggle('toggle');
    });
   
}

navSlide();</script>
     <script src="app.js"></script>
</body>
                 

</html>